hello_world/myvenv
simple_quart_app/myvenv
simple_streaming/myvenv
additional_info_when_streaming/myvenv4
openai_reasoning_models/.idea/
openai_reasoning_models/myvenv5
azure_openai_reasoning_models/myvenv5
simple_quart_app/.idea/
openai_simple_chat_completions/myvenv7/
openai_simple_chat_completions/.idea/
openai_streaming_chat_completions/myvenv7/
openai_streaming_chat_completions/.idea/
google_search_engine/myvenv8/
google_search_engine/.idea/
